#searchLight {
  /* border: 2px solid red; */
  background: transparent;
}

#searchLightBox {
  /*padding: 14px;*/
  border: 0px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.345);
  background: rgba(255, 250, 209, 0.741) !important;
  backdrop-filter: blur(30px) !important;
  border-radius: 10px 10px 10px 10px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
 }


 #searchLightBox * {
  /* color:  white; */
  color : rgb(61, 58, 58);
 
}

.search-icon{
  color: white;
}

#searchLightBox.light * {
  color: rgb(64, 62, 62);
}

#searchLightBox > StEntry:focus,
#searchLightBox > StEntry {
  padding: 7px!important;
	margin-top: 0px !important;
  margin-bottom: 0px !important;
	border-radius: 8px;
  border: 0px !important;
  border-width: 0px !important;
  background: transparent;
  /* background: rgba(0,0,0,0); */
  /* font-size: 14pt !important; */
}

/* #searchLightBox .app-well-app {
  border: 2px solid red;
} */

#searchLightBox.light StBoxLayout.search-section-content *:focus,
#searchLightBox.light StBoxLayout.search-section-content {
  
  background: rgba(255, 250, 209, 0.741)   !important;
}

#searchLightBox StBoxLayout.search-section-content *:focus,
#searchLightBox StBoxLayout.search-section-content {
  /* background: rgba(100,100,100,0.20) !important; */
  background:rgba(255, 250, 209, 0.869)  !important;
  /* border-bottom: 2px #c2c2c294; */
  border-radius: 0px;
  border: none;
  border-top: 1px rgba(220, 202, 202, 0.701) !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  /* box-shadow: rgb(176, 165, 165); */
}

#searchLight #searchResultsContent {
  
   background:rgba(255, 250, 209, 0.741)  !important; 
  border-top: rgba(146, 131, 131, 0.701);
  /* box-shadow: rgb(130, 122, 122); */
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 0px 0px 10px 10px !important;
}

#searchLight #searchResultsContent > * {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.styles{
font : 18pt;
}